.expense-adder {
  padding: 10px 16px;
  background-color: #eee;
  border-radius: 10px;
}

.expense-adder > div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.expense-adder > div > label {
  flex-basis: 7%;
  flex-shrink: 0;
}

.expense-adder > div > input {
  flex-basis: 43%;
}


.expense-adder > button {
	margin-top: 4px;
	color: rgb(0, 115, 255);
	background-color: rgb(196, 223, 255);
  border: 1px solid rgb(0, 115, 255);
  padding: 10px;
	transition: background-color 200ms;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.expense-adder > button:hover {
	background-color: rgb(161, 202, 252);

}

.expense-adder input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.amount {
  width: 50px;
}
.expense-card {
  display: flex;
  background: #eee;
  border-radius: 10px;
  justify-content: space-between;
  padding: 8px;
}

.expense-card button {
  font-size: 1.8rem;
  padding: 10px 16px 6px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: rgb(176, 4, 4);
	/* background-color: rgb(252, 208, 208); */
  transition: background-color 200ms;
}

.expense-card button:hover {
	background-color: rgb(250, 202, 202);
}

.card-body {
  padding: 0px 12px;
}

.expense-card h3 {
  font-size: 1.2rem;
  margin: 5px 0 8px;
}

.expense-card h3 span {
	font-size: smaller;
	padding: 6px 8px;
	margin-left: 5px;
	border-radius: 8px;
	background: rgb(197, 243, 197);
  color: green;
}

.expense-card h6 {
  margin: 5px 0;
  color: grey;
  font-size: 0.8rem;
  font-weight: 500;
}
.wrapper {
  padding: 10px;
  max-width: 780px;
  margin: 0 auto;
}
.wrapper > * {
  margin: 15px 0;
}
